body {
    padding-top: 6rem; /* Adjust top padding to accommodate the fixed navbar height */
    font-family: 'Noto Sans', sans-serif; /* Apply Noto Sans font to the body */
    margin: 0; /* Reset default margin */
    width: 100%; /* Ensure full width */
    overflow-x: hidden; /* Prevent horizontal scrollbars */
    text-align: left;
    border: 15px;
}

.container.body-content {
    padding: 0px; /* Example: Adjust padding as needed */
    margin: 0px; /* Example: Center horizontally */
    max-width: 100%;
    padding-bottom: 3rem; /* Adjust bottom padding to move footer content up */
}

input,
select,
textarea {
    max-width: 280px;
}

footer {
    display: flex; /* Use flexbox for footer layout */
    justify-content: flex-start; /* Align items to the start (left) of the footer */
    align-items: flex-start; /* Align items to the start (top) of the footer */
    background-color: #f0f0f0; /* Light gray background color for the footer */
    padding: 10px 0 0 7px; /* Adjust padding as needed */
    padding-bottom: 2rem; /* Adjust bottom padding as needed */
    max-width: 100% !important; /* Full width */
    position: relative; /* Change to relative positioning */
    bottom: 0; /* Stick to the bottom of its containing element */
}

.footer-content {
    margin: 0; /* Remove default margin */
    text-align: left; /* Align text to the left within footer */
}
