<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - PUP ALUMNI AND CAREER PORTAL</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <!-- Your header content here -->
        </header>
        <div class="container body-content">
            <div class="content-wrapper">
                @RenderBody()
            </div>
        </div>
        <footer id="contact-us">
            <div class="contact-content">
                <h2>CONTACT US</h2>
                <p>Have questions or need assistance?</p>
                <div class="contact-info reveal">
                    <h3>Contact Details:</h3>
                    <a href="tel:+639770327738">Phone: <b class="contact-info-label">(+63) 977 - 032 -7738</b></a>
                    <a href="mailto:sampleread@gmail.com">Email: <b class="contact-info-label">sampleread@gmail.com</b></a>
                </div>
                <!-- Follow Us -->
                <div class="follow-us">
                    <h3>Follow Us:</h3>
                    <div class="social-icons reveal">
                        <a href="https://www.facebook.com/ThePUPOfficial" target="_blank"><img src="~/Content/Images/fb-r-icon .png" alt="Facebook Page"></a>
                        <a href="https://www.youtube.com/user/pupcreatv" target="_blank"><img src="~/Content/Images/yt-r-icon .png" alt="YouTube Channel"></a>
                        <a href="https://twitter.com/ThePUPOfficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" class="x-logo"><img src="~/Content/Images/x-r-icon .png"X Logo"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
